name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2 Jazzy
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update
          sudo rosdep init || true
          rosdep update
          cd ros_ws
          rosdep install --from-paths src --ignore-src -r -y

      - name: Build
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          cd ros_ws
          colcon build --event-handlers console_direct+

      - name: Test
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          cd ros_ws
          colcon test --event-handlers console_direct+
          colcon test-result --verbose
          